.product-detailed {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  border-left: 1px solid rgb(199, 199, 199);
  box-shadow: 0 3px 3px rgb(199, 199, 199);

  &__close {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: .5rem 1rem;
    filter: drop-shadow(0 0 3px rgb(199, 199, 199));
    cursor: pointer;
    transition: all .3s ease-out;
    z-index: 10;

    &:hover {
      background-color: rgb(98, 185, 120);
    }

    i {
      color: rgb(199, 199, 199);
      font-size: 2rem;
    }
  }

  &__content {
    padding: .2rem;
  }
}

.content {
  padding: 2rem;
  padding-top: 0;

  &__price {
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__title {
    margin-top: .5rem;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
  }

  &__description {
    margin-top: 1.5rem;
    color: #666;
  }
  &__btn {
    margin-top: 2rem;
  }
}


.skeleton {

  &__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &-content {
      width: 95%;
      margin: 6rem auto 0;
      display: flex;
      flex-flow: column nowrap;
      gap: .5rem;

      p-skeleton {
        &:nth-child(2) {
          margin-top: 2rem;
        }

        &:nth-child(3) {
          margin-top: .5rem;
        }

        &:nth-child(4) {
          margin-top: 1.5rem;
        }

        &:nth-child(5) {
          margin-top: 2rem;
        }
      }
    }
  }
}
