<div class="cms-layout">
  <header>
    <h3>cms</h3>
  </header>
  <aside>
    <ul>
      <li class="aside-item">
        <a class="btn btn__primary-text"
           routerLink="/cms/grid"
           routerLinkActive="active">Grid page</a>
      </li>
      <li class="aside-item">
        <a class="btn btn__primary-text"
           routerLink="/cms/tasks"
           routerLinkActive="active">Task page</a>
      </li>
    </ul>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
