<article class="product-card">
  <image class="product-card__img" [dataSrc]="product.image"
         [dataAlt]="product.name" [id]="product.id">
  </image>
  <div class="product-card__information">
    <p class="product-card__information-name">
      {{product.name}}
    </p>
    <p class="product-card__information-price">
      <span>{{product.price | currency}}</span>
      <button class="btn btn__primary-filled"
              type="button" (click)="onAddToCart()">
        <i class="fas fa-cart-plus"></i>
      </button>
    </p>
  </div>
</article>
<p-toast position="bottom-center"></p-toast>
