.product-card {
  border-radius: .5rem;
  border: 1px solid rgb(214, 212, 212);
  box-shadow: 0 0 2px rgb(197, 197, 197);
  height: 100%;
  overflow:hidden;

  &__information {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    height: 140px;

    &-name {
      font-weight: 400;
      font-size: 1.1rem;
      margin-bottom: .5rem;
      height: 90px;
      overflow: hidden;
    }

    &-price {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      span {
        font-weight: 600;
        font-size: 1.3rem;
      }

      button {
        max-width: 50px;
        padding: .5rem;
        background-color: rgb(98, 185, 120);
      }

    }
  }
}



.spacer {
  flex: 1 1 auto;
}
