<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a>
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="shopping-cart-container">
      <a routerLink="/v1/checkout/cart">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      </a>
      <span class="counter">{{productsQuantity}}</span>
    </div>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button type="button" (click)="toggleMenu()">Close</button>
    <ul>
      <li (click)="toggleMenu()">
        <a routerLink="/v1/products/list" routerLinkActive="active">All</a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="/v1/products/category/5"
           routerLinkActive="active">Clothes</a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="/v1/products/category/3"
           routerLinkActive="active">Electronics</a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="/v1/auth/login" routerLinkActive="active" *ngIf="!tokenService.get()">Login</a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="/v1/auth/register" routerLinkActive="active" *ngIf="!tokenService.get()">Register</a>
      </li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li (click)="toggleMenu()">
          <a routerLink="/v1/products/list"
            routerLinkActive="active">
            All
          </a>
        </li>
        <li (click)="toggleMenu()">
          <a routerLink="/v1/products/category/5"
             routerLinkActive="active">
            Clothes
          </a>
        </li>
        <li (click)="toggleMenu()">
          <a routerLink="/v1/products/category/3"
             routerLinkActive="active">
             Electronics
          </a>
        </li>
        <li (click)="toggleMenu()">
          <a routerLink="/v1/auth/login" routerLinkActive="active"
             *ngIf="!tokenService.get()">Login</a>
        </li>
        <li (click)="toggleMenu()">
          <a routerLink="/v1/auth/register" routerLinkActive="active"
             *ngIf="!tokenService.get()">Register</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account" *ngIf="authService.user?.email">
        {{authService.user!.email}}
      </div>
      <div class="shopping-cart-container">
        <a routerLink="/v1/checkout/cart">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{productsQuantity}}</span>
      </div>
    </div>
  </div>
</div>
