<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a>
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a>
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button type="button" (click)="toggleMenu()">Close</button>
    <ul>
      <li (click)="toggleMenu()">
        <a routerLink="/products/list" routerLinkActive="active">All</a>
      </li>
      <li (click)="toggleMenu()">
        <a href="">Clothes</a>
      </li>
      <li (click)="toggleMenu()">
        <a href="">Electronics</a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="/auth/login" routerLinkActive="active">Login</a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="/auth/register" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li (click)="toggleMenu()">
          <a routerLink="/products/list" routerLinkActive="active">All</a>
        </li>
        <li (click)="toggleMenu()">
          <a>Clothes</a>
        </li>
        <li (click)="toggleMenu()">
          <a>Electronics</a>
        </li>
        <li (click)="toggleMenu()">
          <a routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
        <li (click)="toggleMenu()">
          <a routerLink="/auth/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">jdoo1115@gmail.com</div>
      <div>
        <a routerLink="/checkout/cart">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
