button {
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}

input {
  width: 50px;
  border: none;
  background-color: #fff;
  text-align: center;
  font-weight: 600;
}
