<input type="text" [formControl]="name">
<p>{{ name.value}} {{ name.status}}</p>

<p>
  Email: {{ email.value }}
  <input type="email" [formControl]="email"/>
</p>

<p>
  Phone: {{ phone.value }}
  <input type="tel" [formControl]="phone"/>
</p>

<p>
  Color: {{ color.value }}
  <input type="color" [formControl]="color"/>
</p>

<p>
  Date: {{ date.value }}
  <input type="date" [formControl]="date"/>
</p>

<p>
  Month: {{ month.value }}
  <input type="month" [formControl]="month"/>
</p>

<p>
  Age: {{ age.value }}
  <input type="number" [formControl]="age"/>
</p>

<p>
  Password: {{ password.value }}
  <input type="password" [formControl]="password"/>
</p>

<p>
  Range Price: {{ price.value }}
  <input type="range" [formControl]="price" min="0" max="100"/>
</p>

<p>
  Wekend: {{ week.value }}
  <input type="week" [formControl]="week"/>
</p>

<p>
  Date and time: {{ time.value }}
  <input type="datetime-local" [formControl]="time"/>
</p>

<p>
  Search: {{ search.value }}
  <input type="search" [formControl]="search"/>
</p>

<p>
  URL: {{ url.value }}
  <input type="url" [formControl]="url"/>
</p>

<p>
  checkbox: {{ terms.value }}
  <input type="checkbox" [formControl]="terms"/>
</p>

<p>
  Image: {{ photo.value }}
  <input type="image" [formControl]="photo"/>
</p>

<p>
  gender: {{ gender.value }}
  <label for="male">male
    <input type="radio" id="male" [formControl]="gender" value="male"
           name="gender"/>
  </label>
  <label for="female">female
    <input type="radio" id="female" [formControl]="gender" value="female" name="gender"/>
  </label>
  <label for="other">other
    <input type="radio" id="other" [formControl]="gender" value="other" name="gender"/>
  </label>
</p>

<p>
  zones: {{ zones.value }}
  <label for="zone1">zone1
    <input type="radio" id="zone1" [formControl]="zones" value="zone1"
     name="zone"/>
  </label>
  <label for="zone2">zone2
    <input type="radio" id="zone2" [formControl]="zones" value="zone2" name="zone"/>
  </label>
  <label for="zone3">zone3
    <input type="radio" id="zone3" [formControl]="zones" value="zone3" name="zone"/>
  </label>
</p>

<p>
  Description: {{ description.value }}
  <textarea type="text" [formControl]="description">
  </textarea>
</p>

<p>
  Category: {{ category.value }}
  <select [formControl]="category">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
  </select>
</p>

<p>
  Multiple Category: {{ multipleCategory.value }}
  <select [formControl]="multipleCategory" multiple size="8">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
  </select>
</p>
