@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *::after, *::before{
  box-sizing: inherit;
}

.global-container {
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 1rem;
}

.grid-container {
  display: grid;
  gap: .5rem;

  &__1 {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  &__2 {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  &__3 {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }

  &__4 {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }

  &__5 {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
  }

  &__auto {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
// Input
.input-group {
  display: flex;
  flex-flow: column nowrap;
  gap: .1rem;

  &__label {
    font-weight: 600;
    font-size: .9rem;
  }

  &__input {
    border: none;
    background-color: rgb(238, 238, 238);
    padding: .5rem .3rem;
    border-radius: .5rem;
  }

  &__error {
    text-align: center;
    border: 1px solid rgb(156, 31, 31);
    padding: .5rem .3rem;
    border-radius: .5rem;
    font-weight: 500;
    color: rgb(156, 31, 31);
    background-color: rgb(224, 202, 202);
  }
}

.error {
  transition: color .3s ease, border .3s ease;
  label {
    color: rgb(156, 31, 31);
  }

  input {
    border: 1px solid rgb(156, 31, 31);
  }
}
// alerts
.alert {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  margin: .5rem 0;
  font-weight: 500;

  &__danger {
    background-color: rgb(224, 196, 196);
    color: rgb(97, 41, 41);
    border: 1px solid rgb(97,41,41);
  }
}
// Titles
.title {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  font-size: 2.2rem;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    border-bottom: 3px solid rgb(98, 185, 120);
    width: 20%;
    bottom: -5px;
    left: 40%;
  }
}


// Buttons Types
// Primary
// Secondary
// Success
// Warning
// Info
// Danger
// Dark
// Large

// Buttons versions
// Filled
// Outlined
// Text
// Rounded

// Buttons statuses
// Enabled
// disabled
// Hover
// Focused
// Pressed

.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .3s ease;
  font-weight: 600;

  &__primary {

    &-filled {
      background-color: rgb(98, 185, 120);
      color: #fff;

      &:hover {
        box-shadow: inset 0 0 0 2em rgb(0, 0, 0);
      }

      &:disabled {
        opacity: .5;
      }
    }

    &-outlined {
      border: 1px solid rgb(98, 185, 120);
      color: rgb(98, 185, 120);

      &:hover {
        box-shadow: inset 0 0 0 2em rgb(98, 185, 120);
        color: #fff;
      }
    }

    &-text {
      color: rgb(98, 185, 120);

      &:hover {
        color: #000;
      }
    }
  }

  &__secondary {

    &-filled {
      background-color: #000;
      color: #fff;

      &:hover {
        box-shadow: inset 0 0 0 2em rgb(98, 185, 120);
      }
    }
  }


}
